backports-abc==0.5
certifi==2018.11.29
circus==0.15.0
derpconf==0.8.3
futures==3.2.0
libthumbor==1.3.2
piexif==1.1.2
Pillow==5.4.1
psutil==5.5.0
pycryptodome==3.7.3
pycurl==7.43.0.2
pytz==2018.9
pyzmq==16.0.4
singledispatch==3.4.0.3
six==1.12.0
statsd==3.2.2
thumbor==6.7.0
tornado==4.5.3
webcolors==1.8.1
