Pillow==2.3.1
backports.ssl-match-hostname==3.4.0.2
circus==0.11.1
derpconf==0.5.1
iowait==0.2
psutil==2.1.1
pycrypto==2.6.1
pycurl==7.19.3.1
python-magic==0.4.6
pyzmq==14.3.1
six==1.7.2
thumbor==4.1.3
thumbor-pexif==0.14
tornado==3.2.2
